meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
meta(name='viewport', content='width=device-width, initial-scale=1')

// CSS
link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
link(href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic,300,500,500italic,300italic,100,100italic', rel='stylesheet')
link(href='style.css', type='text/css', rel='stylesheet', media='screen')

// Add to homescreen for Chrome on Android
meta(name='mobile-web-app-capable', content='yes')
link(rel='icon', sizes='192x192', href='img/android-desktop.png')

// Add to homescreen for Safari on iOS
meta(name='apple-mobile-web-app-capable', content='yes')
meta(name='apple-mobile-web-app-status-bar-style', content='black')
meta(name='apple-mobile-web-app-title', content='Mockbox')
link(rel='apple-touch-icon-precomposed', href='img/ios-desktop.png')
link(rel='shortcut icon', href='img/favicon.png')

// Real OG up in here
meta(property='og:title', content='Free, ephemeral, open source SMTP server simulation')
meta(property='og:site_name', content='Mockbox')
meta(property='og:url', content='https://mockbox.io')
meta(property='og:description', content="Need to be sure that your automated emails are going out with the content you expect, but don't want to provide your personal SMTP credentials, or want a free alternative to Mailtrap? Use Mockbox.")
meta(property='og:type', content='website')
meta(itemprop='image', content='https://mockbox.io/img/ios-desktop.png')
