extends ../jade-components/main.jade

block title
	title Mockbox

block content
	main
		.container
			.section
				// Icon Section
				.row#fullInfo
					.col.s12
						h4 Mockbox is a simple, free 
								strong in-browser SMTP server simulator.
						p Need to be sure that your automated emails are going out with the content you expect, but don't want to provide your personal SMTP credentials, or want a free alternative to Mailtrap? Use Mockbox.
						p 
							strong Mockbox funnels emails straight from the SMTP interface to your browser - no sign up, no storage, no logins, no hassle. Quick, easy, and ephemeral.
							|  You can also use the 
							a(href='#quick', onclick='showQuick();') Quick View
							| .
						h4 Get started!
						h4(style='display: inline') &#9312;
						h5(style='display: inline') Set your SMTP server to 
							span#serverAddress.inlineCode [server]
							|  on port 
							span#serverPort.inlineCode [port]
						br
						h4(style='display: inline') &#9313;
						h5(style='display: inline') Use any username and password (no encryption -- coming soon!)
						br
						h4(style='display: inline') &#9314;
						h5(style='display: inline') Send an email to 
							span#mailAddress.inlineCode [email]
							a(href='#', id='copyLink', data-clipboard-text='address not loaded')
								i.material-icons assignment
						br
						h4(style='display: inline') &#9315;
						h5(style='display: inline') Your email will appear below*, in real time!
						p * Emails will not be accessible, nor will you be able to recover or resume use of the address after you leave this page. Emails with total size >
							span#dropSize
							|  kB will not be displayed.
				.row#quickInfo(style='display: none;')
					.col.s12
						h5.center-align
							span#quickMailAddress [email]
							a#quickCopyLink(href='#', data-clipboard-text='address not loaded')
								i.material-icons assignment
							| at 
							span#quickServerAddress [server]
							| :
							span#quickServerPort [port]
							|  (
							span#quickDropSize
							| kB limit)
				.row
					.col.m5.s6
						a.waves-effect.waves-light.btn(onclick='showDemo();', style='padding-left: 5px; padding-right: 5-10px;')
							i.material-icons.left play_arrow
							| Demo
					.col.m3.hide-on-small-only
						input#sendNotifications(type='checkbox', checked)
						label(for='sendNotifications') Send Desktop Notifications
					.col.m4.s6
						a.waves-effect.waves-light.btn.right(onclick='clearEmails();', style='padding-left: 5px; padding-right: 10px;')
							i.material-icons.left delete
							| Clear
				hr
				.row
					.col.s12
					p.center-align#noMessages
						i.grey-text no messages yet!
					ul.collection#messageCollection
					html
			#rawModal.modal
				.modal-content
					h4 Raw Message
					textarea#rawArea(style='height: 20rem;', readonly)
				.modal-footer
					a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!') Close
block scripts
	script(src='js/index.js')
